.btn-banner {
  background-color: #F50057;
  padding: 15px 25px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  transition: background 0.3s ease;
  opacity: 0.6;
  margin: 20px;
}

.btn-banner:hover{
  background: #F50057;
  opacity: 1;
}
